/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes [--fs-400 is base]*/
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35.001em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* Body defaults */
body {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  line-height: 1.5;
  overflow-x: hidden;
}
/* Root div template */
#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}
/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility Classes     */
/* ------------------- */

/* General */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.hidden {
  display: none;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.container {
  margin-inline: auto;
  padding-inline: 2em;
  max-width: 80rem;
}

/* Screen reader utility class */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.skip-to-content:focus {
  transform: translateX(0);
}

/* Colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

/* ------------------- */
/* Components          */
/* ------------------- */

.large-button {
  font-size: 2rem;
  position: relative;
  display: inline-grid;
  z-index: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  letter-spacing: 2px;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.15);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* primary-header */

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-dark) / 0.95);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  margin-right: 0.5em;
  font-weight: 700;
}

.mobile-nav-toggle {
  display: none;
}

@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}

@media (max-width: 35.001rem) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-flow: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 2rem;
    right: 1rem;
    border: 0;
    background: url(/public/assets/shared/icon-hamburger.svg) no-repeat
      transparent center;
    width: 1.5rem;
    aspect-ratio: 1;
    cursor: pointer;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(/public/assets/shared/icon-close.svg);
  }
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid hsl(var(--clr-white) / 0.5);
    outline-offset: 5px;
  }
  .primary-navigation.underline-indicators > * {
    border: 0;
  }
}

@media (min-width: 35.001em) and (max-width: 44.999rem) {
  .primary-navigation {
    padding-inline: 3rem;
  }
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -2.5rem;
    margin-left: clamp(0rem, 1vw, 4rem);
    background: hsl(var(--clr-white) / 0.25);
    order: 1;
  }
  nav {
    order: 2;
  }
  .primary-navigation {
    padding-inline: clamp(3rem, 6vw, 8rem) clamp(3rem, 8vw, 16rem);
    margin-block: 2rem;
  }
  /* .desktop-nav-line {
    height: 1px;
    width: 100%;
    margin-right: -2.5rem;
    margin-left: clamp(0rem, 1vw, 4rem);
    background-color: hsl(var(--clr-white) / 0.25);
  } */
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: var(--clr-white);
  border-color: hsl(var(--clr-white));
}

.tab-list {
  --underline-gap: 0.5rem;
  --gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  aspect-ratio: 1;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white));
}

.numbered-indicators {
  --gap: 1rem;
  flex-direction: column;
  place-items: center;
}

.numbered-indicators > * {
  cursor: pointer;
  aspect-ratio: 1;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid hsl(var(--clr-white) / 0.25);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}

.numbered-indicators > *:hover,
.numbered-indicators > *:focus {
  border: 1px solid hsl(var(--clr-white));
}

.numbered-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
}

/* ------------------- */
/* Layout              */
/* ------------------- */

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.grid-container img {
  width: 100%;
}

.grid-container * {
  max-width: 50ch;
}

.numbered-title {
  grid-area: title;
}

/* destination layout */

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--destination > picture {
  grid-area: image;
  max-width: 60%;
  align-self: start;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.destination-meta {
  flex-flow: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.25);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.destination-meta p {
  font-size: 1.75rem;
}

.destination-meta > * > * {
  margin-inline: auto;
}

/* crew layout */

.grid-container--crew {
  overflow: hidden;
  grid-template-areas:
    "title"
    "image"
    "dots"
    "content";
}

.grid-container--crew > picture {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.25);
}

.grid-container--crew > .dot-indicators {
  grid-area: dots;
  margin-block: 1rem;
}

.grid-container--crew > .crew-info {
  grid-area: content;
  --flow-space: 0.5rem;
}

/* technology layout */

.grid-container--technology {
  overflow: hidden;
  padding-inline: 0;
  grid-template-areas:
    "title"
    "image"
    "image"
    "dots"
    "content";
}

.grid-container--technology > .tech-img {
  grid-area: image;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-container--technology > .vehicle-img {
  background-image: url(/public/assets/technology/image-launch-vehicle-landscape.jpg);
}
.grid-container--technology > .spaceport-img {
  background-image: url(/public/assets/technology/image-spaceport-landscape.jpg);
}
.grid-container--technology > .capsule-img {
  background-image: url(/public/assets/technology/image-space-capsule-landscape.jpg);
}

.grid-container--technology > .numbered-indicators {
  grid-area: dots;
  flex-flow: row;
}

.numbered-indicators > * {
  height: 2.5rem;
  width: 2.5rem;
}

.grid-container--technology > .technology-info {
  grid-area: content;
  align-self: start;
  --flow-space: 0.5rem;
}

.technology-info h2 {
  margin-inline: auto;
}

/* grid media queries */

@media (min-width: 35.001em) {
  .numbered-title {
    justify-self: start;
    margin-top: 2rem;
    letter-spacing: 3.38px;
  }
  .destination-meta {
    flex-flow: row;
    justify-content: space-evenly;
  }
  .grid-container--crew {
    --flow-space: 3rem;
    padding-bottom: 0;
    grid-template-areas:
      "title"
      "content"
      "dots"
      "image";
  }
  .grid-container--crew > picture {
    transform: translateY(2rem);
  }
  .grid-container--crew > .crew-info {
    --flow-space: 1rem;
  }
  .grid-container--crew > .crew-info > header {
    --flow-space: 0.66rem;
  }
  .grid-container--technology {
    grid-template-areas:
      "title"
      "image"
      "image"
      "image"
      "dots"
      "content";
  }
  .grid-container--technology > .technology-info {
    --flow-space: 1rem;
  }
  .grid-container--technology > .technology-info > header {
    --flow-space: 0.66rem;
  }
  .numbered-indicators > * {
    height: 3.75rem;
    width: 3.75rem;
  }
}

@media (min-width: 45em) {
  .grid-container {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2em, 1fr) repeat(2, minmax(0px, 40rem)) minmax(
        2em,
        1fr
      );
    text-align: left;
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
  .grid-container--home > *:first-child {
    grid-column: 2;
  }
  .grid-container--home > *:last-child {
    grid-column: 3;
  }
  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";
  }
  .numbered-title {
    margin-block: 2rem;
    letter-spacing: 4.72px;
  }
  .grid-container--destination > picture,
  .grid-container--crew > picture,
  .grid-container--technology > picture {
    max-width: 90%;
  }
  .destination-meta {
    --gap: min(6vw, 6rem);
    justify-content: start;
  }
  .grid-container--crew {
    --flow-space: 0;
    justify-items: start;
    align-content: start;
    padding-bottom: 4rem;
    grid-template-areas:
      ". title image ."
      ". content  image ."
      ". content image ."
      ". dots image .";
  }
  .grid-container--crew > picture {
    transform: translateY(4rem);
    max-width: 90%;
    border: none;
    z-index: -1;
  }
  .grid-container--crew > .crew-info {
    --flow-space: 1.5rem;
  }
  .grid-container--crew > .crew-info > header {
    --flow-space: 1rem;
  }
  .grid-container--technology {
    grid-template-columns: 0 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". title title . image image"
      ". dots content content image image"
      ". dots content content image image"
      ". dots content content image image";
  }
  .grid-container--technology > .tech-img {
    min-height: 85%;
    min-width: 100%;
  }
  .grid-container--technology > .vehicle-img {
    background-image: url(/public/assets/technology/image-launch-vehicle-portrait.jpg);
  }
  .grid-container--technology > .spaceport-img {
    background-image: url(/public/assets/technology/image-spaceport-portrait.jpg);
  }
  .grid-container--technology > .capsule-img {
    background-image: url(/public/assets/technology/image-space-capsule-portrait.jpg);
  }
  .grid-container--technology > .numbered-indicators {
    --gap: 2rem;
    flex-flow: column;
  }
  .numbered-indicators > * {
    height: 5rem;
    width: 5rem;
  }
  .grid-container--technology > .technology-info {
    justify-self: start;
    align-self: center;
  }
  .technology-info h2 {
    margin-inline: 0;
  }
  .grid-container--technology > .numbered-title {
    padding-left: 2.5em;
  }
}
